/************* Tag Selectors *************/
body{
font-family: 'Merriweather', serif;;
margin: 0;
text-align: center;
}
a{
  padding: 15px;
}
h1{
  font-family: 'Sacramento', cursive;
  margin: 0 auto;
  width: 10%;
}
th, td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
table{
  margin: auto;
}
p{
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}
/************* Tag Selectors *************/
.top-container{
  background-color: #e3fdfd;
  padding-top: 100px;
}

.middle-container{
  background-color: #cbf1f5;
  padding-bottom: 10px;
}
.bottom-container{
  background-color: #a6e3e9;
  position: relative;
  bottom: 0;
}
.mountain1{
  display: inline-block;
  position: relative;

  margin: auto;
  height: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile{
  border-radius: 10%;
}
.pic1{
  border-radius: 10%;
  width: 150px;
  height: 100px;
}
.pic2{
  width: 200px;
  height: 120px;
    background-color: #cbf1f5;
}
.pic3{
  width: 100px;
  height: 100px;
}

#fb-icon{
    color: #007bff;
}
#fb-icon:hover{
  color: #0b668e;
}



#tw-icon{
    color: aquamarine;
}
#tw-icon:hover{
    color: cornflowerblue;
}
#mail-icon{
    color: black;
}
#mail-icon:hover{
    color: darkslategrey;
}
